extend ../_layout.pug
include ./_form.pug

block admin_content
  form(method='POST')
    .panel.panel-default
      .panel-heading Article
      .panel-body
        +article()
      .panel-footer
        button.btn.btn-primary(type='Submit') Save