mixin blog(b)
  .form-group
    label Name
    input.form-control(type='text', name='name')
  .form-group
    label Domain
    input.form-control(type='text', name='domain')
  .form-group
    label Description
    textarea.form-control(type='text', name='description')